<header>
    <hgroup>
        <h2>Community App Sharing Architecture</h2>
        <h1>Accessibility Attributes</h1>
    </hgroup>
</header>

<footer>

    <section>
        <h1>Status of this Memo</h1>
        <p>This memorandum specifies a set of attributes used by CASA implementations to describe the accessibility policies of an application. The specification outlined forthwith is a work in progress and not intended for production use at this time. Distribution of this memo is unlimited.</p>
    </section>

    <section>
        <h1>Copyright Notice</h1>
        <p>&copy; 2014-2015 IMS Global Learning Consortium, Inc. All rights reserved.</p>
    </section>

    <section>

        <h1>Terminology</h1>
        <p>The key words <strong>must</strong>, <strong>must not</strong>, <strong>required</strong>, <strong>shall</strong>, <strong>shall not</strong>, <strong>should</strong>, <strong>should not</strong>, <strong>recommended</strong>, <strong>may</strong>, and <strong>optional</strong> in this document are to be interpreted as described by <strong><a href="http://tools.ietf.org/rfc/rfc2119.txt" rel="external">RFC 2119</a></strong> ["Key words for use in RFCs to Indicate Requirement Levels"].</p>
        <p>The key word <strong>property</strong> (alternatively: <strong>attribute</strong> or <strong>section</strong>) in this document is to be interpreted as described by <strong><a href="http://www.ecma-international.org/publications/files/ECMA-ST/Ecma-262.pdf" rel="external">ECMA-262 Edition 5.1</a></strong>.</p>
        <p>The key words <strong>string</strong>, <strong>array</strong>, <strong>object</strong>, <strong>name/value pair</strong> (alternatively: <strong>key-value pair</strong>) and <strong>JavaScript Object Notation</strong> (alternatively: <strong>JSON</strong>) in this document are to be interpreted as described by <strong><a href="http://tools.ietf.org/rfc/rfc4627.txt" rel="external">RFC 4627</a></strong> ["The application/json Media Type for JavaScript Object Notation (JSON)"].</p>
        <p>The key word <strong>JSON Schema</strong> in this document is to be interpreted as a JSON format defined by the <strong><a href="http://json-schema.org/latest/json-schema-core.html" rel="external">json-schema-core</a></strong> ["JSON Schema: core definitions and terminology"] and <strong><a href="http://json-schema.org/latest/json-schema-validation.html" rel="external">json-schema-validation</a></strong> ["JSON Schema: interactive and non interactive validation"] specifications.</p>
    </section>

</footer>

<main>

    <section data-status="non-normative">

        <h1>Overview</h1>

        <p>The attributes defined within this specification include:</p>

        <div class="overflow-scroll">
            <table class="full-width centered-columns no-wrap">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>UUID</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="Attributes/Accessibility#accessibility_url">accessibility_url</a></td>
                    <td>40ece2ef-fd81-4e15-af82-146214f9e7a3</td>
                    <td>string</td>
                </tr>
                <tr>
                    <td><a href="Attributes/Accessibility#vpat_url">vpat_url</a></td>
                    <td>221efedc-d6d7-4a79-bd6f-74f2efba4c67</td>
                    <td>string</td>
                </tr>
                <tr>
                    <td><a href="Attributes/Accessibility#wcag_compliance">wcag_compliance</a></td>
                    <td>398ad595-b2cd-44c4-8864-921f4f25536b</td>
                    <td>object</td>
                </tr>

                </tbody>
            </table>
        </div>

    </section>

    <section>

        <h1 data-ref="accessibility_url">
            Accessibility URL<br><small><dfn>40ece2ef-fd81-4e15-af82-146214f9e7a3</dfn></small>
        </h1>

        <p>The attribute <var>40ece2ef-fd81-4e15-af82-146214f9e7a3</var> is a string that defines the web-accessible location of an accessibility statement for the application. This statement should explain the accessibility standards that the application conforms to, the technologies it implements, and its plans moving forward to increase access, if universal access is not yet available.</p>

        <pre data-attribute-schema="40ece2ef-fd81-4e15-af82-146214f9e7a3"></pre>


    </section>

    <section>

        <h1 data-ref="vpat_url">
            VPAT URL<br><small><dfn>221efedc-d6d7-4a79-bd6f-74f2efba4c67</dfn></small>
        </h1>

        <p>The attribute <var>221efedc-d6d7-4a79-bd6f-74f2efba4c67</var> is a string that defines the web-accessible location of a document that conforms to the Voluntary Product Assessment Template defined by the U.S. Department of State's Program for Accessible Computer/Communication Technology (see <a href="http://www.state.gov/documents/organization/126555.pdf" rel="external">this form</a> (PDF) for the template). The VPAT allows
        application authors to make statements regarding what is commonly referred to as Section 508 compliance.</p>

        <pre data-attribute-schema="221efedc-d6d7-4a79-bd6f-74f2efba4c67"></pre>

    </section>

    <section>

        <h1 data-ref="wcag_compliance">
            WCAG Compliance<br><small><dfn>398ad595-b2cd-44c4-8864-921f4f25536b</dfn></small>
        </h1>

        <p>The attribute <var>398ad595-b2cd-44c4-8864-921f4f25536b</var> is an object that allows applications to declare conformance to specific rules within each of the twelve
        <a href="http://www.w3.org/WAI/WCAG20/quickref/" rel="external">W3C Web Content Accessibility Guidelines</a>.</p>

        <pre data-attribute-schema="398ad595-b2cd-44c4-8864-921f4f25536b"></pre>

    </section>

</main>
