<header>
    <hgroup>
        <h2>Community App Sharing Architecture</h2>
        <h1>Interoperability Attributes</h1>
    </hgroup>
</header>

<footer>

    <section>
        <h1>Status of this Memo</h1>
        <p>This memorandum specifies a set of attributes used by CASA implementations to describe interoperability mechanisms supported by an application. The specification outlined forthwith is a work in progress and not intended for production use at this time. Distribution of this memo is unlimited.</p>
    </section>

    <section>
        <h1>Copyright Notice</h1>
        <p>&copy; 2014-2015 IMS Global Learning Consortium, Inc. All rights reserved. IMS Learning Tools Interoperability&reg; (LTI&reg;) is a trademark of the IMS Global
            Learning Consortium, Inc. in the United States and/or other countries.</p>
    </section>

    <section>

        <h1>Terminology</h1>
        <p>The key words <strong>must</strong>, <strong>must not</strong>, <strong>required</strong>, <strong>shall</strong>, <strong>shall not</strong>, <strong>should</strong>, <strong>should not</strong>, <strong>recommended</strong>, <strong>may</strong>, and <strong>optional</strong> in this document are to be interpreted as described by <strong><a href="http://tools.ietf.org/rfc/rfc2119.txt" rel="external">RFC 2119</a></strong> ["Key words for use in RFCs to Indicate Requirement Levels"].</p>
        <p>The key word <strong>property</strong> (alternatively: <strong>attribute</strong> or <strong>section</strong>) in this document is to be interpreted as described by <strong><a href="http://www.ecma-international.org/publications/files/ECMA-ST/Ecma-262.pdf" rel="external">ECMA-262 Edition 5.1</a></strong>.</p>
        <p>The key words <strong>string</strong>, <strong>array</strong>, <strong>object</strong>, <strong>name/value pair</strong> (alternatively: <strong>key-value pair</strong>) and <strong>JavaScript Object Notation</strong> (alternatively: <strong>JSON</strong>) in this document are to be interpreted as described by <strong><a href="http://tools.ietf.org/rfc/rfc4627.txt" rel="external">RFC 4627</a></strong> ["The application/json Media Type for JavaScript Object Notation (JSON)"].</p>
        <p>The key word <strong>JSON Schema</strong> in this document is to be interpreted as a JSON format defined by the <strong><a href="http://json-schema.org/latest/json-schema-core.html" rel="external">json-schema-core</a></strong> ["JSON Schema: core definitions and terminology"] and <strong><a href="http://json-schema.org/latest/json-schema-validation.html" rel="external">json-schema-validation</a></strong> ["JSON Schema: interactive and non interactive validation"] specifications.</p>
    </section>

</footer>

<main>

    <section>

        <h2>Overview</h2>

        <p>The attributes defined within this specification include:</p>

        <div class="overflow-scroll">
            <table class="full-width centered-columns no-wrap">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>UUID</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="Attributes/Interoperability#lti">lti</a></td>
                    <td>f6820326-5ea3-4a02-840d-7f91e75eb01b</td>
                    <td>object</td>
                </tr>
                <tr>
                    <td><a href="Attributes/Interoperability#caliper">caliper</a></td>
                    <td>d96e4185-c52d-4f46-9fcb-59d28087c7d1</td>
                    <td>array[object]</td>
                </tr>
                </tbody>
            </table>
        </div>

    </section>

    <section>

        <h1 data-ref="lti">
            LTI<br><small><dfn>f6820326-5ea3-4a02-840d-7f91e75eb01b</dfn></small>
        </h1>

        <p>The attribute <var>f6820326-5ea3-4a02-840d-7f91e75eb01b</var> is an object that indicates that the application is an LTI Tool Provider and how a Tool Consumer can launch and use it.</p>

        <p><code>launch_url</code> is the canonical LTI Launch URL where the Tool Consumer POSTs its parameters. Please see Section 4 of the <a href="http://www.imsglobal.org/lti/ltiv2p0/ltiIMGv2p0.html" rel="external">LTI 2.0 Specification</a> for details on launch parameters.</p>

        <p>If <code>launch_params</code> is present, its value must be an <code>application/x-www-form-urlencoded</code>-formatted string. This value should only be set if can be used unmodified for any launch of the app.</p>

        <p><code>registration_url</code> is the LTI 2.0 registration URL to be used for Tool Consumer and Tool Provider auto-configuration.

        <p>Using <code>content_item_message</code>, apps that support the LTI Content-Item Message <a href="http://www.imsglobal.org/lti/ltiv1p2pd/ltiCIMv1p0pd.html" rel="external">specification</a> have the option to statically define their JSON-LD response payload or, by using
            the boolean variant, apps can declare that their JSON-LD responses are generated dynamically by metadata from the CASA implementation (E.g., from foundational attributes).
            This is the JSON that is POSTed back to the Tool Consumer in the value for the <code>content_items</code> parameter when a Content-Item Request launch occurs. If a static value is configured, it must be an <code>application/x-www-form-urlencoded</code>-formatted string. A CASA instance must concatenate this value
            with the value for <code>launch_params</code>.

        <p>Apps may also declare the LTI versions supported, the LTI conformance certifications obtained, and whether an app returns LIS <code>outcomes</code>.</p>

        <p>For LTI-enabled apps, it is a best practice to include everything a Tool Consumer would need to independently create the app using the data present in this CASA Attribute. At a minimum, that means that both the Tool Consumer and Tool Provider must support LTI 2.0 as LTI 2.0 specifies the mechanism
            by which an automatic configuration may take place to handle context-dependent and sensitive values such as security settings. Support for LTI 2.0 means that apps retrieved from CASA can be truly plug and play.</p>

        <pre data-attribute-schema="f6820326-5ea3-4a02-840d-7f91e75eb01b"></pre>

    </section>

    <section>

        <h1 data-ref="caliper">
            Caliper<br><small><dfn>d96e4185-c52d-4f46-9fcb-59d28087c7d1</dfn></small>
        </h1>

        <p>The attribute <var>d96e4185-c52d-4f46-9fcb-59d28087c7d1</var> is an array of objects that specify metadata about the Caliper Metric Profiles that an application supports.</p>

        <p>Each object in the array specifies a metric profile name and an array of events where each event is paired with a corresponding array of actions. The data structure is meant to be
        generic enough to handle new metric profiles as they are developed and detailed enough so that application curators can get a good idea of the data
            that is collected while the application submitter is not burdened with listing their Caliper configurations down to the last implementation detail.</p>

        <pre data-attribute-schema="d96e4185-c52d-4f46-9fcb-59d28087c7d1"></pre>

    </section>


</main>
