<header>
    <hgroup>
        <h2>Community App Sharing Architecture</h2>
        <h1>Student Data Attributes</h1>
    </hgroup>
</header>

<footer>

    <section>
        <h1>Status of this Memo</h1>
        <p>This memorandum specifies a set of attributes used by CASA implementations to describe education-related metadata supported by an application. The specification outlined forthwith is a work in progress and not intended for production use at this time. Distribution of this memo is unlimited.</p>
    </section>

    <section>
        <h1>Copyright Notice</h1>
        <p>&copy; 2014-2015 IMS Global Learning Consortium, Inc. All rights reserved. IMS Learning Tools Interoperability&reg; (LTI)&reg; is a trademark of the IMS Global
            Learning Consortium, Inc. in the United States and/or other countries.</p>
    </section>

    <section>

        <h1>Terminology</h1>
        <p>The key words <strong>must</strong>, <strong>must not</strong>, <strong>required</strong>, <strong>shall</strong>, <strong>shall not</strong>, <strong>should</strong>, <strong>should not</strong>, <strong>recommended</strong>, <strong>may</strong>, and <strong>optional</strong> in this document are to be interpreted as described by <strong><a href="http://tools.ietf.org/rfc/rfc2119.txt" rel="external">RFC 2119</a></strong> ["Key words for use in RFCs to Indicate Requirement Levels"].</p>
        <p>The key word <strong>property</strong> (alternatively: <strong>attribute</strong> or <strong>section</strong>) in this document is to be interpreted as described by <strong><a href="http://www.ecma-international.org/publications/files/ECMA-ST/Ecma-262.pdf" rel="external">ECMA-262 Edition 5.1</a></strong>.</p>
        <p>The key words <strong>string</strong>, <strong>array</strong>, <strong>object</strong>, <strong>name/value pair</strong> (alternatively: <strong>key-value pair</strong>) and <strong>JavaScript Object Notation</strong> (alternatively: <strong>JSON</strong>) in this document are to be interpreted as described by <strong><a href="http://tools.ietf.org/rfc/rfc4627.txt" rel="external">RFC 4627</a></strong> ["The application/json Media Type for JavaScript Object Notation (JSON)"].</p>
        <p>The key word <strong>JSON Schema</strong> in this document is to be interpreted as a JSON format defined by the <strong><a href="http://json-schema.org/latest/json-schema-core.html" rel="external">json-schema-core</a></strong> ["JSON Schema: core definitions and terminology"] and <strong><a href="http://json-schema.org/latest/json-schema-validation.html" rel="external">json-schema-validation</a></strong> ["JSON Schema: interactive and non interactive validation"] specifications.</p>
    </section>

</footer>

<main>

    <section>

        <h2>Overview</h2>

        <p>The attributes defined within this specification include:</p>

        <div class="overflow-scroll">
            <table class="full-width centered-columns no-wrap">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>UUID</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="Attributes/Student_Data#student_data">student data</a></td>
                    <td>bf43cd9a-63d2-416e-bee7-02debe5e18c9</td>
                    <td>object</td>
                </tr>
                </tbody>
            </table>
        </div>

    </section>

    <section>

        <h1 data-ref="student_data">
            Student Data<br><small><dfn>bf43cd9a-63d2-416e-bee7-02debe5e18c9</dfn></small>
        </h1>

        <p>The attribute <var>bf43cd9a-63d2-416e-bee7-02debe5e18c9</var> is an object that describes the ways an application
            interacts with student data.</p>


        <pre data-attribute-schema="bf43cd9a-63d2-416e-bee7-02debe5e18c9"></pre>

    </section>

</main>
