@media print { 
    #nav-suite-container, #controls-container { display: none; }  
    html, body { font-size: 12px; }
}

html, body { margin: 0; padding: 0; font-family: Verdana, sans-serif; font-size:14px; min-width:690px; }

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

#nav-suite, #controls { width: 92%; margin: auto; max-width:1024px; }
#nav-suite:before, #nav-suite:after, #controls:before, #controls:after { content: " "; display: table; }
#nav-suite:after, #controls:after { clear: both; }
#nav-suite, #controls { *zoom: 1; }

#nav-suite-container { border-bottom: 1px solid #ccc; font-weight: bold; margin-bottom: 16px; position: fixed; left: 0; right: 0; background-color: #fff; }
#nav-suite ul { list-style-type: none; padding: 0; margin: 0; }
#nav-suite li { margin-top: 0; margin-bottom: 0; }
#nav-suite li > *:not(ul) { padding: 8px 24px; display: block; font-size: 14px; margin: 0; color: #225; cursor: pointer; text-decoration: none; }
#nav-suite li > a:hover { text-decoration: underline; color: #337; }
#nav-suite > ul > li, #nav-suite > header { float: left; position: relative; }
#nav-suite > ul > li > :not(ul) { padding-right: 20px; }
#nav-suite > ul > li > ul { display: none; }
#nav-suite > ul > li:hover > ul { display: block; position: absolute; top: 34px; z-index: 1; background-color: #fff; border: 1px solid #ccc; border-top: 0; font-weight: bold; padding-top: 4px; padding-bottom: 8px; }
#nav-suite > header > * { font-size:18px; padding: 6px 24px 6px 0; margin: 0; }

#controls-container { position: fixed; bottom: 0; left: 0; right: 0; background-color: #fff; padding: 4px; border-top: 1px solid #ccc; }
#controls {}
#controls > * { float: left; margin-right: 5px; }
#controls h1 { font-size: 1em; margin: 0 20px 0 0; padding: 0; }

#content, #colophon { width: 92%; margin: auto; max-width: 1024px; margin-bottom: 24px; }

#content > header { font-size: 1.4em; }
#content > header * { margin: 0; padding: 0; }
#content > header h2 { color: #888; }

#content { padding-top: 50px; padding-bottom: 20px; }
#content main > section { margin-top: 2em; border-top: 1px solid #ccc; }

.status_message h1 { font-size: 1em; }
.status_message { font-style:italic; margin-bottom: 11px; }
.status_message h1, .status_message p, .status_message ul, .status_message li { margin: 5px 0; }
.status_section { border-width: 2px 0 2px 3px; border-style: dotted none dotted solid; padding-top: 8px; padding-bottom: 12px; }

.hide_status-notices .status_section { border: 0 none; padding-top: 0; padding-bottom: 0; }
.hide_status-notices .status_section .status_message { display: none; }

.status_section { margin-left: -25px; padding-left:25px; }
.status_section .status_section { margin-left: -20px; padding-left:20px; }
.status_section .status_section .status_section { margin-left: -15px; padding-left:15px; }

.status_section.non-normative { border-color: #ccc; }
.status_section.non-normative > .status_message, .status_section.non-normative > .status_message h1 { color: #777; }

.status_section.conflict { border-color: #c00; }
.status_section.conflict > .status_message, .status_section.conflict > .status_message h1 { color: #c00; }

.status_section.editor-challenged { border-color: #c00; }
.status_section.editor-challenged > .status_message, .status_section.editor-challenged > .status_message h1 { color: #c00; }

.status_section.board-challenged { border-color: #c00; }
.status_section.board-challenged > .status_message, .status_section.board-challenged > .status_message h1 { color: #c00; }

.status_section.revision { border-color: #f60; }
.status_section.revision > .status_message, .status_section.revision > .status_message h1 { color: #f60; }

.status_section.incomplete { border-color: #c93; }
.status_section.incomplete > .status_message, .status_section.incomplete > .status_message h1 { color: #c93; }

.status_section.undefined { border-color: #606; }
.status_section.undefined > .status_message, .status_section.undefined > .status_message h1 { color: #606; }

.hide_non-normative .status_section.non-normative { display: none; }

pre.prettyprint { padding: 10px; border-color: #ccc; }