<header>
    <hgroup>
        <h2>Community App Sharing Architecture</h2>
        <h1>Local Module</h1>
    </hgroup>
</header>

<footer>
    
    <section>
        <h1>Status of this Memo</h1>
        <p>This memorandum specifies the CASA Protocol Local Module, which defines how payloads must be presented for access by intra-system outlets. The specification outlined forthwith is a work in progress and not intended for production use at this time. Distribution of this memo is unlimited.</p>
    </section>
    
    <section>
        <h1>Copyright Notice</h1>
        <p>Copyright (c) 2013-14, Regents of the University of California. All rights reserved.</p>
    </section>
    
    <section>
        
        <h1>Requirements</h1>
        
        <p>The following specifications must be implemented with this module:</p>
        
        <dl>
            <dt><a href="core">CASA Protocol Core</a></dt>
            <dd>Must implement basic protocol definition.</dd>
            <dt><a href="module/payload#localpayload">CASA Protocol Payload Module - LocalPayload</a></dt>
            <dd>Must implement LocalPayload; should implement with original attribute; may implement with journal attribute.</dd>
        </dl>
        
    </section>
    
    <section>
        
        <h1>Terminology</h1>
        <p>The key words <strong>must</strong>, <strong>must not</strong>, <strong>required</strong>, <strong>shall</strong>, <strong>shall not</strong>, <strong>should</strong>, <strong>should not</strong>, <strong>recommended</strong>, <strong>may</strong>, and <strong>optional</strong> in this document are to be interpreted as described by <strong><a href="http://tools.ietf.org/rfc/rfc2119.txt" rel="external">RFC 2119</a></strong> ["Key words for use in RFCs to Indicate Requirement Levels"].</p>
        <p>The key words <strong>HTTP request</strong>, <strong>HTTP response</strong>, <strong>HTTP header</strong>, <strong>HTTP GET Request</strong>, <strong>HTTP Response Status Code</strong> (alternatively: <strong>response status</strong>), <strong>Client Error 4xx</strong> (alternatively: <strong>4xx Error</strong>) and <strong>Server Error 5xx</strong> (alternatively: <strong>5xx Error</strong>) in this document are to be interpreted as described by <strong><a href="http://tools.ietf.org/rfc/rfc2616.txt" rel="external">RFC 2616</a></strong> ["Hypertext Transfer Protocol -- HTTP/1.1"].</p>
        <p>The key word <strong>utf-8</strong> in this document is to be interpreted as described by <strong><a href='http://tools.ietf.org/rfc/rfc3629.txt' rel='external'>RFC 3629</a></strong> ["UTF-8, a transformation format of ISO 10646"].</p>
        <p>The key word <strong>property</strong> (alternatively: <strong>attribute</strong> or <strong>section</strong>) in this document is to be interpreted as described by <strong><a href="http://www.ecma-international.org/publications/files/ECMA-ST/Ecma-262.pdf" rel="external">ECMA-262 Edition 5.1</a></strong>.</p>
        <p>The key words <strong>string</strong>, <strong>array</strong>, <strong>object</strong>, <strong>name/value pair</strong> (alternatively: <strong>key-value pair</strong>) and <strong>JavaScript Object Notation</strong> (alternatively: <strong>JSON</strong>) in this document is to be interpreted as described by <strong><a href="http://tools.ietf.org/rfc/rfc4627.txt" rel="external">RFC 4627</a></strong> ["The application/json Media Type for JavaScript Object Notation (JSON)"].</p>
        <p>The key word <strong>JSON Schema</strong> in this document is to be interpreted as a JSON format defined by the <strong><a href="http://json-schema.org/latest/json-schema-core.html" rel="external">json-schema-core</a></strong> ["JSON Schema: core definitions and terminology"] and <strong><a href="http://json-schema.org/latest/json-schema-validation.html" rel="external">json-schema-validation</a></strong> ["JSON Schema: interactive and non interactive validation"] specifications.</p>
        
    </section>
    
</footer>

<main>

    <section data-requirement="must">

        <h1>SendLocal</h1>

        <p>The <dfn>SendLocal</dfn> operation publish payloads to local outlets. It responds to an HTTP GET request on the <var>/local/payloads</var> route, as outlined herein, with a JSON formatted array of <a href="module/payload#localpayload"><var>LocalPayload</var> (Payload Module)</a> objects, unless an error is encountered, in which case it throws a 4xx or 5xx Error Response.</p>

        <p data-status="non-normative">This operation must be used intra-system only. Inter-system sharing of payloads occurs via the <a href="module/publisher#sendout"><var>SendOut</var> (Publisher Module)</a> operation.</p>

        <section data-requirement="must">

            <h1 data-ref="sendlocal-request">Request</h1>

            <p data-status="non-normative">The engine exposes between two and four interfaces to which a local outlet may issue a request. All requests should include include <var>Accept</var>, <var>Accept-Charset</var>, <var>Accept-Encoding</var> and <var>Content-Type</var> headers.</p>

            <p>The following rules should be applied for all requests:</p>

            <dl>
                <dt><var>Accept Header</var></dt>
                <dd><var>application/json</var> should be specified for this header. The omission of this header may be assumed by a local outlet as <var>application/json</var>. If the client sends an <var>Accept</var> header without <var>application/json</var>, a 4xx Error must be thrown.</dd>
                <dt><var>Accept-Charset Header</var></dt>
                <dd>Only <var>utf-8</var> is valid for this header. The omission of this header must be assumed as <var>utf-8</var>. If the client sends any other <var>Accept-Charset</var> header, a 4xx Error must be thrown.</dd>
                <dt><var>Accept-Encoding Header</var></dt>
                <dd>Any value for this header is valid. The host should attempt to implement this encoding for a response but it may ignore this header.</dd>
                <dt><var>Content-Type Header</var></dt>
                <dd>If the client includes a request body, <var>application/json</var> and <var>charset=utf-8</var> should be specified for this header. The omission of this header may be assumed as <var>application/json</var> if a request body is sent. If the client sends any <var>Content-Type</var> header without <var>application/json</var> and <var>charset=utf-8</var>, a 4xx Error must be thrown unless the server understands and processes the body data based on the non-standard <var>Content-Type</var> header sent by the client.</dd>
                <dt><var>Body Content</var></dt>
                <dd>If the client includes a request body, it must be a JSON-formatted object of key-value pairs. If the client sends any other body content, a 4xx Error must be thrown unless the server understands and processes the body data based on non-standard <var>Content-Type</var> header sent by the client.</dd>
            </dl>

            <section data-requirement="may" data-status="stub">

                <h1 data-ref="sendlocal-access-controls">Request with Access Controls</h1>

            </section>

        </section>

        <section data-requirement="must">

            <h1 data-ref="sendlocal-response">Response</h1>

            <section>

                <h1>Success Response</h1>

                <p>If a host will fulfill the request, it must respond with a <var>200 OK</var> response status.</p>

                <p>A response body of a <var>200 OK</var> response must be of a format stipulated by one of the request methods: <var><a href="#sendlocal-one">SendLocal-One</a></var>, <var><a href="#sendlocal-all">SendLocal-All</a></var>, <var><a href="#sendlocal-query">SendLocal-Query</a></var> and <var><a href="#sendlocal-query-simple">SendLocal-Query-Simple</a></var>. In all cases, the response must be JSON-formatted and use the utf-8 charset. Consequently, this response should include <var>Content-Type: application/json;charset=utf-8</var> header, although this may be implied by omission. The host must not send any other <var>Content-Type</var> header.</p>

            </section>

            <section>

                <h1>Error Response</h1><p>If a host will not fulfill the request, it must respond with a 4xx Error or 5xx Error.</p>

                <p>The following status codes are recommended:</p>

                <dl>
                    <dt>400 Bad Request</dt>
                    <dd>The request body contained malformed JSON.</dd>
                    <dt>406 Not Acceptable</dt>
                    <dd>The request specified a non-conforming <var>Accept</var> or <var>Accept-Charset</var> header.</dd>
                    <dt>415 Unsupported Media Type</dt>
                    <dd>The request specified a non-conforming <var>Content-Type</var> header.</dd>
                    <dt>501 Not Implemented</dt>
                    <dd>The engine does not support the requested operation.</dd>
                    <dd></dd>
                </dl>

                <p>An error response may include a message body. If it includes the message body, it must be a plaintext body describing the error.</p>

            </section>

            <section data-requirement="may" data-status="stub">

                <h1 data-ref="sendlocal-access-controls">Response with Access Controls</h1>

            </section>

        </section>

        <section data-requirement="must">

            <h1 data-ref="sendlocal-one">SendLocal-One</h1>

        </section>

        <section data-requirement="must">

            <h1 data-ref="sendlocal-all">SendLocal-All</h1>

        </section>

        <section data-requirement="may">

            <h1 data-ref="sendlocal-query">SendLocal-Query</h1>

        </section>

        <section data-requirement="may">

            <h1 data-ref="sendlocal-query-simple">SendLocal-Query-Simple</h1>

        </section>

    </section>

    <section data-requirement="may">

        <h1 data-ref="localstore">LocalStore</h1>

    </section>
    
    <section data-requirement="may">
        
        <h1 data-ref="localin">LocalIn</h1>
        
        <footer>
            
            <section data-requirement="must">
                
                <h1>Requirements</h1>
        
                <p>The following specifications must be implemented with this sub-module:</p>

                <dl>
                    <dt><a href="module/receiver#receivein">CASA Protocol Receiver Module - ReceiveIn</a></dt>
                    <dd>Must implement ReceiveIn; may implement with access control.</dd>
                    <dt><a href="module/receiver#adjintranslate">CASA Protocol Receiver Module - AdjInTranslate</a></dt>
                    <dd>Must implement AdjInTranslate.</dd>
                    <dt><a href="module/receiver#adjinsquash">CASA Protocol Receiver Module - AdjInSquash</a></dt>
                    <dd>Must implement AdjInSquash.</dd>
                    <dt><a href="module/receiver#adjinsquash">CASA Protocol Receiver Module - AdjInFilter</a></dt>
                    <dd>Must implement AdjInFilter; may implement with custom rules.</dd>
                    <dt><a href="module/receiver#adjinstore">CASA Protocol Receiver Module - AdjInStore</a></dt>
                    <dd>Must implement AdjInStore.</dd>
                    <dt><a href="module/local#localstore">CASA Protocol Receiver Module - LocalStore</a></dt>
                    <dd>Must implement LocalStore.</dd>
                </dl>
                
            </section>
            
        </footer>
        
        <section data-requirement="must" data-status="incomplete">
            
            <h1>AdjInStoreToLocalStore</h1>
            
        </section>
        
        <section data-requirement="may" data-status="incomplete">
            
            <h1>AdjInTransform</h1>
            
        </section>
        
    </section>
    
    <section data-requirement="may">
        
        <h1 data-ref="localout">LocalOut</h1>
        
        <footer>
            
            <section data-requirement="must">
                
                <h1>Requirements</h1>
        
                <p>The following specifications must be implemented with this sub-module:</p>

                <dl>
                    <dt><a href="module/relay#adjouttranslate">CASA Protocol Relay Module - AdjOutTranslate</a></dt>
                    <dd>Must implement AdjOutTranslate.</dd>
                    <dt><a href="module/relay#adjoutfilter">CASA Protocol Relay Module - AdjOutFilter</a></dt>
                    <dd>Must implement AdjOutFilter; may implement with custom rules.</dd>
                    <dt><a href="module/relay#adjouttransform">CASA Protocol Relay Module - AdjOutTransform</a></dt>
                    <dd>Must implement AdjOutTransform; may implement with custom rules.</dd>
                    <dt><a href="module/relay#adjoutstore">CASA Protocol Receiver Module - AdjOutStore</a></dt>
                    <dd>Must implement AdjOutStore.</dd>
                    <dt><a href="module/local#localstore">CASA Protocol Receiver Module - LocalStore</a></dt>
                    <dd>Must implement LocalStore.</dd>
                </dl>
                
            </section>
            
        </footer>
        
        <section data-requirement="must" data-status="incomplete">
            
            <h1>LocalStoreToAdjOutStore</h1>
            
        </section>
        
    </section>

</main>