<header>
    <hgroup>
        <h2>Community App Sharing Architecture</h2>
        <h1>Publisher Module</h1>
    </hgroup>
</header>

<footer>
    
    <section>
        <h1>Status of this Memo</h1>
        <p>This memorandum specifies the CASA Protocol Publisher Module, which defines payloads must be presented for inter-system communication. The specification outlined forthwith is a work in progress and not intended for production use at this time. Distribution of this memo is unlimited.</p>
    </section>
    
    <section>
        <h1>Copyright Notice</h1>
        <p>Copyright (c) 2013-14, Regents of the University of California. All rights reserved.</p>
    </section>
    
    <section>
        
        <h1>Requirements</h1>
        
        <p>The following specifications must be implemented with this module:</p>
        
        <dl>
            <dt><a href="core">CASA Protocol Core</a></dt>
            <dd>Must implement basic protocol definition.</dd>
            <dt><a href="module/payload#transitpayload">CASA Protocol Payload Module - TransitPayload</a></dt>
            <dd>Must implement TransitPayload; may implement with journal attribute.</dd>
        </dl>
        
    </section>
    
    <section>
        
        <h1>Terminology</h1>
        <p>The key words <strong>must</strong>, <strong>must not</strong>, <strong>required</strong>, <strong>shall</strong>, <strong>shall not</strong>, <strong>should</strong>, <strong>should not</strong>, <strong>recommended</strong>, <strong>may</strong>, and <strong>optional</strong> in this document are to be interpreted as described by <strong><a href="http://tools.ietf.org/rfc/rfc2119.txt" rel="external">RFC 2119</a></strong> ["Key words for use in RFCs to Indicate Requirement Levels"].</p>
        <p>The key words <strong>HTTP request</strong>, <strong>HTTP response</strong>, <strong>HTTP header</strong>, <strong>HTTP GET Request</strong>, <strong>HTTP Response Status Code</strong> (alternatively: <strong>response status</strong>), <strong>Client Error 4xx</strong> (alternatively: <strong>4xx Error</strong>) and <strong>Server Error 5xx</strong> (alternatively: <strong>5xx Error</strong>) in this document are to be interpreted as described by <strong><a href="http://tools.ietf.org/rfc/rfc2616.txt" rel="external">RFC 2616</a></strong> ["Hypertext Transfer Protocol -- HTTP/1.1"].</p>
        <p>The key word <strong>IP Address</strong> in this document is to be interpreted as described by <strong><a href='http://tools.ietf.org/rfc/rfc791.txt' rel='external'>RFC 791</a></strong> ["Internet Protocol"].</p>
        <p>The key word <strong>utf-8</strong> in this document is to be interpreted as described by <strong><a href='http://tools.ietf.org/rfc/rfc3629.txt' rel='external'>RFC 3629</a></strong> ["UTF-8, a transformation format of ISO 10646"].</p>
        <p>The key word <strong>property</strong> (alternatively: <strong>attribute</strong> or <strong>section</strong>) in this document is to be interpreted as described by <strong><a href="http://www.ecma-international.org/publications/files/ECMA-ST/Ecma-262.pdf" rel="external">ECMA-262 Edition 5.1</a></strong>.</p>
        <p>The key words <strong>string</strong>, <strong>array</strong>, <strong>object</strong>, <strong>name/value pair</strong> (alternatively: <strong>key-value pair</strong>) and <strong>JavaScript Object Notation</strong> (alternatively: <strong>JSON</strong>) in this document is to be interpreted as described by <strong><a href="http://tools.ietf.org/rfc/rfc4627.txt" rel="external">RFC 4627</a></strong> ["The application/json Media Type for JavaScript Object Notation (JSON)"].</p>
        <p>The key word <strong>JSON Schema</strong> in this document is to be interpreted as a JSON format defined by the <strong><a href="http://json-schema.org/latest/json-schema-core.html" rel="external">json-schema-core</a></strong> ["JSON Schema: core definitions and terminology"] and <strong><a href="http://json-schema.org/latest/json-schema-validation.html" rel="external">json-schema-validation</a></strong> ["JSON Schema: interactive and non interactive validation"] specifications.</p>
        
    </section>
    
</footer>

<main>
    
    <section data-requirement="must">
        
        <h1>SendOut</h1>
        
        <p>The <dfn>SendOut</dfn> operation publishes payloads to other autonomous systems. It responds to an HTTP GET request on the <var>/out/payloads</var> route, as outlined herein, with a JSON formatted array of <a href="module/payload#transitpayload"><var>TransitPayload</var> (Payload Module)</a> objects, unless an error is encountered, in which case it throws a Client Error 4xx or Server Error 5xx.</p>
        
        <section data-status="non-normative">
            
            <p>The HTTP GET request that initiates the <var>SendOut</var> operation is the only means of inter-system communication. By definition, the Community App Sharing Architecture is pull-based from the perspective of autonomous systems, allowing each system to determine its own refresh and expiration policies.</p>
            
        </section>
        
        <section>
            
            <h1 data-ref="sendout-request">Processing Request</h1>
            
            <p data-status="non-normative">The request <var>GET /out/payloads</var> initiated by the client should include <var>Accept</var>, <var>Accept-Charset</var>, <var>Accept-Encoding</var> and <var>Content-Type</var> headers.</p>
            
            <p>The following rules should be applied when handling a request:</p>
            
            <dl>
                <dt><var>Accept Header</var></dt>
                <dd><var>application/json</var> should be specified for this header. The omission of this header may be assumed by a receiver as <var>application/json</var>. If the client sends an <var>Accept</var> header without <var>application/json</var>, a 4xx Error must be thrown.</dd>
                <dt><var>Accept-Charset Header</var></dt>
                <dd>Only <var>utf-8</var> is valid for this header. The omission of this header must be assumed as <var>utf-8</var>. If the client sends any other <var>Accept-Charset</var> header, a 4xx Error must be thrown.</dd>
                <dt><var>Accept-Encoding Header</var></dt>
                <dd>Any value for this header is valid. The host should attempt to implement this encoding for a response but it may ignore this header.</dd>
                <dt><var>Content-Type Header</var></dt>
                <dd><var>application/json</var> and <var>charset=utf-8</var> should be specified for this header. The omission of this header may be assumed by a receiver as <var>application/json</var> if a request body is sent. If the client sends any <var>Content-Type</var> header without <var>application/json</var> and <var>charset=utf-8</var>, a 4xx Error must be thrown unless the server understands and processes the body data based on the non-standard <var>Content-Type</var> header sent by the client.</dd>
                <dt><var>Body Content</var></dt>
                <dd>If the client includes a request body, it must be a JSON-formatted object of key-value pairs. If the client sends any other body content, a 4xx Error must be thrown unless the server understands and processes the body data based on the non-standard <var>Content-Type</var> header sent by the client.</dd>
            </dl>
            
        </section>
        
        <section>
            
            <h1 data-ref="sendout-success">Success Response</h1>
            
            <p>If a host will fulfill the request, it must respond with a <var>200 OK</var> response status.</p>
            
            <p>A response body of a <var>200 OK</var> response must be an array of <a href="module/payload#transitpayload"><var>TransitPayload</var> (Payload Module)</a> objects. This response must be JSON-formatted and use the <var>utf-8</var> charset. Consequently, this response should include <var>Content-Type: application/json;charset=utf-8</var> header, although this may be implied by omission. The host must not send any other <var>Content-Type</var> header.</p>
            
            <p data-status="non-normative">Consult <a href="module/receiver#receivein-success-response"><var>ReceiveIn</var> (Receiver Module)</a> for client-side validation rules. The host must conform to this rules for the response to be accepted.</p>
                
        </section>
        
        <section>
            
            <h1 data-ref="sendout-error">Error Response</h1>
            
            <p>If a host will not fulfill the request, it must respond with a 4xx Error or 5xx Error.</p>
            
            <p>The following status codes are recommended:</p>
            
            <dl>
                <dt>400 Bad Request</dt>
                <dd>The request body contained malformed JSON.</dd>
                <dt>406 Not Acceptable</dt>
                <dd>The request specified a non-conforming <var>Accept</var> or <var>Accept-Charset</var> header.</dd>
                <dt>415 Unsupported Media Type</dt>
                <dd>The request specified a non-conforming <var>Content-Type</var> header.</dd>
                <dd></dd>
            </dl>
            
            <p>An error response may include a message body. If it includes the message body, it must be a plaintext body describing the error.</p>
        
        </section>
        
    </section>
        
    <section data-requirement="may">

        <h1 data-ref="sendout-access-controls">SendOut with Access Controls</h1>

        <p>A host may implement access controls for the <var>SendOut</var> operation.</p>
        
        <p>Two forms of access control are recommended:</p>
        
        <dl>
            <dt>Address-based Access Control</dt>
            <dd>Requests are only accepted from certain IP addresses and/or ranges.</dd>
            <dt>Secret-based Access Control</dt>
            <dd>Requests are only accepted when a valid secret is specified.</dd>
        </dl>
        
        <p>If secret-based access control is implemented, the host must accept a secret passed by the name <var>secret</var> in either the HTTP GET request query string or a JSON-encoded request body. It shall not accept a secret through either of these mechanisms unless it accepts the secret through both.</p>
            
        <p>If a host will not fulfill a <var>SendOut</var> request because of access controls, it must respond with the status code:</p>
        
        <dl>
            <dt>403 Forbidden</dt>
            <dd>The host implements access control and the request does not meet requirements.</dd>
        </dl>
        
        <section data-requirement="may">

            <h1 data-ref="adjoutpeer">AdjOutPeer</h1>

            <p>The <dfn>AdjOutPeer</dfn> structure may be implemented to define access controls.</p>
            
            <p data-status="non-normative">This structure is useful under complex access controls situations where a host defines a number of systems it may support. For example, this structure is implemented for access controls managed by the <a href="module/manager#OutletReceiveNode"><var>OutletReceiveNode (Manager Module)</var></a> operation.</p>
            
            <section>
                
                <h1>Attributes</h1>
                
                <p>The <dfn id="AdjOutPeer-name">name</dfn> property must be set and must be unique among all <var>AdjOutPeer</var> objects defined within the system. The <var>name</var> property is used to identify a <var>AdjOutPeer</var>. For example, this property is used when creating/updating/deleting <var>AdjOutPeer</var> entities via the <a href="module/manager#OutletReceiveNode"><var>OutletReceiveNode (Manager Module)</var></a> operation.</p>
                
                <p>The <var>local</var> property must be set and denotes whether the entity is inter- or intra- system. If this property is <var>true</var>, then the structure is not an <var>AdjOutPeer</var> but rather an <a href="#module/local#outlet"><var>Outlet (Local Module)</var></a>.</p>
                
                <p>The <var>secret</var> property may be set. If set, the <var>secret</var> property specifies a string that a client must provide when issuing a request.</p>
                
                <p>The <var>address</var> property may be set. If set, the <var>address</var> property must conform to the IP Address format. This property specifies an IP address required for a client to be considered as a match.</p>
                
                <p>The <var>mask</var> property may be set. If set, <var>mask</var> property must conform to the IP Address format. This property specifies a wildcard mask applied to <var>address</var>, where any request from a client within the specified range must be considered as matching this structure. This property should not be set if the <var>address</var> property is not set.</p>
                
            </section>
            
            <section>
                
                <h1>Resolving an AdjOutPeer</h1>
                
                <p>For each <var>AdjOutPeer</var>, the following routine should be used to determine a match:</p>
                
                <ol>
                    <li>If <var>AdjOutPeer.secret</var> is specified but the request does not include a <var>secret</var> or the request <var>secret</var> does not match, <strong>not a match</strong>.
                    <li>If <var>AdjOutPeer.address</var> is not specified, <strong>match</strong>.</li>
                    <li>Unless <var>AdjOutPeer.mask</var> is specified:
                        <ol>
                            <li>If <var>AdjOutPeer.address</var> equals the the requesting client IP address, <strong>match</strong>.</li>
                            <li>Otherwise, <strong>not a match.</strong></li>
                        </ol>
                    </li>
                    <li>Apply <var>AdjOutPeer.mask</var> as a subnet mask over <var>AdjOutPeer.out.address</var> and the requesting client IP address:
                        <ol>
                            <li>If the addresses are equal once the mask is applied, <strong>match</strong>.</li>
                            <li>Otherwise, <strong>not a match.</strong></li>
                        </ol>
                    </li>
                </ol>
                
                <section data-status='non-normative'>
                    
                    <h1>Implementation Example</h1>
                
                    <pre data-lang="ruby"># Assume: request object with:
#  - secret: string (from request query string or JSON-encoded body)
#  - ip: string (IP Address format from requesting user agent)
# Assume: AdjOutPeer array of objects with:
#  - secret: string or false
#  - address: string (IP Address format) or false
#  - mask: string (IP address format) or false

matches = adjOutPeers.select { |peer|

  if peer.secret
    return false unless request.body.secret == peer.secret
  end

  return true unless peer.address
  
  unless peer.mask
    return IPAddr.new(peer.address) == IPAddr.new(request.ip)
  else

  return IPAddr.new(peer.address).mask(peer.mask) == IPAddr.new(request.ip).mask(peer.mask)

}</pre>
                    
                </section>
                
                <p>If the AdjOutPeer mechanism is implemented and no matching AdjOutPeer entries are found, a 403 Error must be thrown.</p>
                
            </section>

            <section>
                
                <h1>Schema</h1>
            
                <pre data-schema="AdjOutPeer"></pre>
            
            </section>

        </section>

    </section>
    
</main>