<header>
    <hgroup>
        <h2>Community App Sharing Architecture</h2>
        <h1>Receiver Module</h1>
    </hgroup>
</header>


<footer>
    
    <section>
        <h1>Status of this Memo</h1>
        <p>This memorandum specifies the CASA Protocol Receiver Module, which defines how to make inter-system queries to retrieve payloads. The specification outlined forthwith is a work in progress and not intended for production use at this time. Distribution of this memo is unlimited.</p>
    </section>
    
    <section>
        <h1>Copyright Notice</h1>
        <p>Copyright (c) 2013, Regents of the University of California. All rights reserved.</p>
    </section>
    
    <section>
        
        <h1>Requirements</h1>
        
        <p>The following specifications must be implemented with this module:</p>
        
        <dl>
            <dt><a href="overview">CASA Protocol</a></dt>
            <dd>Must implement basic protocol definition.</dd>
            <dt><a href="module/payload#transitpayload">CASA Protocol Payload Module - TransitPayload</a></dt>
            <dd>Must implement TransitPayload with journal attribute.</dd>
            <dt><a href="module/payload#transitpayload">CASA Protocol Payload Module - LocalPayload</a></dt>
            <dd>Must implement LocalPayload; should implement with original attribute; may implement with journal attribute.</dd>
        </dl>
        
    </section>
    
    <section>
        
        <h1>Terminology</h1>
        <p>The key words <strong>must</strong>, <strong>must not</strong>, <strong>required</strong>, <strong>shall</strong>, <strong>shall not</strong>, <strong>should</strong>, <strong>should not</strong>, <strong>recommended</strong>, <strong>may</strong>, and <strong>optional</strong> in this document are to be interpreted as described by <strong><a href="http://tools.ietf.org/rfc/rfc2119.txt" rel="external">RFC 2119</a></strong> ["Key words for use in RFCs to Indicate Requirement Levels"].</p>
        
    </section>
    
</footer>

<main>
    
    <section data-requirement="must" data-status="incomplete">
        
        <h1>ReceiveIn</h1>
        
        <section data-requirement="may">
            
            <h1 data-ref="receivein-access-controls">ReceiveIn with Access Controls</h1>
            
            <section data-requirement="should">
                
                <h1 data-ref="adjoutpeer">AdjInPeer</h1>
                
            </section>
            
        </section>
        
    </section>
    
    <section data-requirement="must" data-status="incomplete">
        
        <h1>AdjInTranslate</h1>
        
    </section>
    
    <section data-requirement="must" data-status="incomplete">
        
        <h1>AdjInSquash</h1>
        
    </section>
    
    <section data-requirement="must" data-status="incomplete">
        
        <h1>AdjInFilter</h1>
        
        <section data-requirement="may">
            
            <h1 data-ref="adjinfilter-custom">AdjInFilter with Custom Rules</h1>
            
            <section data-requirement="should" data-status="undefined">
                
                <h1>AdjInFilterRules</h1>
                
            </section>
            
        </section>
        
    </section>
    
    <section data-requirement="may" data-status="incomplete">
        
        <h1>AdjInStore</h1>
        
    </section>
    
</main>